In [1]:
import pandas as pd

filename= 'data/out/out/npidataaa.csv'
output= 'data/out/out/out.csv'
df = pd.read_csv(filename)
df[:2]

,NPI,Entity Type Code,Replacement NPI,Employer Identification Number (EIN),Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Middle Name,Provider Name Prefix Text,Provider Name Suffix Text,...,Healthcare Provider Taxonomy Group_7,Healthcare Provider Taxonomy Group_8,Healthcare Provider Taxonomy Group_9,Healthcare Provider Taxonomy Group_10,Healthcare Provider Taxonomy Group_11,Healthcare Provider Taxonomy Group_12,Healthcare Provider Taxonomy Group_13,Healthcare Provider Taxonomy Group_14,Healthcare Provider Taxonomy Group_15,Certification Date
0,1679576722,1.0,NaN,NaN,NaN,WIEBE,DAVID,A,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1588667638,1.0,NaN,NaN,NaN,PILCHER,WILLIAM,C,DR.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Number of columns to drop
n = 275

df2 = df.iloc[:, :-n]
df2.columns = [c.lower().replace(" ", "_").replace(".", "").replace("(", "").replace(")", "") for c in df2.columns]
df2[:2]

,npi,entity_type_code,replacement_npi,employer_identification_number_ein,provider_organization_name_legal_business_name,provider_last_name_legal_name,provider_first_name,provider_middle_name,provider_name_prefix_text,provider_name_suffix_text,...,authorized_official_title_or_position,authorized_official_telephone_number,healthcare_provider_taxonomy_code_1,provider_license_number_1,provider_license_number_state_code_1,healthcare_provider_primary_taxonomy_switch_1,healthcare_provider_taxonomy_code_2,provider_license_number_2,provider_license_number_state_code_2,healthcare_provider_primary_taxonomy_switch_2
0,1679576722,1.0,NaN,NaN,NaN,WIEBE,DAVID,A,NaN,NaN,...,NaN,NaN,207X00000X,12637,NE,Y,NaN,NaN,NaN,NaN
1,1588667638,1.0,NaN,NaN,NaN,PILCHER,WILLIAM,C,DR.,NaN,...,NaN,NaN,207RC0000X,ME68414,FL,Y,207RC0000X,032024,GA,N

In [4]:
df2.to_csv(output)

In [13]:
NEW_LINE = '\n'
dml_statement = 'CREATE TABLE NPI_DATA( ' + NEW_LINE
for c in df2.columns:
    dml_statement = dml_statement + c + ' varchar(100),' + NEW_LINE

dml_statement = dml_statement[ : len(dml_statement)-2] + NEW_LINE
dml_statement = dml_statement + ');'
print(dml_statement)

CREATE TABLE NPI_DATA(
npi varchar(100),
entity_type_code varchar(100),
replacement_npi varchar(100),
employer_identification_number_ein varchar(100),
provider_organization_name_legal_business_name varchar(100),
provider_last_name_legal_name varchar(100),
provider_first_name varchar(100),
provider_middle_name varchar(100),
provider_name_prefix_text varchar(100),
provider_name_suffix_text varchar(100),
provider_credential_text varchar(100),
provider_other_organization_name varchar(100),
provider_other_organization_name_type_code varchar(100),
provider_other_last_name varchar(100),
provider_other_first_name varchar(100),
provider_other_middle_name varchar(100),
provider_other_name_prefix_text varchar(100),
provider_other_name_suffix_text varchar(100),
provider_other_credential_text varchar(100),
provider_other_last_name_type_code varchar(100),
provider_first_line_business_mailing_address varchar(100),
provider_second_line_business_mailing_address varchar(100),
provider_business_mailing_address_city_name varchar(100),
provider_business_mailing_address_state_name varchar(100),
provider_business_mailing_address_postal_code varchar(100),
provider_business_mailing_address_country_code_if_outside_us varchar(100),
provider_business_mailing_address_telephone_number varchar(100),
provider_business_mailing_address_fax_number varchar(100),
provider_first_line_business_practice_location_address varchar(100),
provider_second_line_business_practice_location_address varchar(100),
provider_business_practice_location_address_city_name varchar(100),
provider_business_practice_location_address_state_name varchar(100),
provider_business_practice_location_address_postal_code varchar(100),
provider_business_practice_location_address_country_code_if_outside_us varchar(100),
provider_business_practice_location_address_telephone_number varchar(100),
provider_business_practice_location_address_fax_number varchar(100),
provider_enumeration_date varchar(100),
last_update_date varchar(100),
npi_deactivation_reason_code varchar(100),
npi_deactivation_date varchar(100),
npi_reactivation_date varchar(100),
provider_gender_code varchar(100),
authorized_official_last_name varchar(100),
authorized_official_first_name varchar(100),
authorized_official_middle_name varchar(100),
authorized_official_title_or_position varchar(100),
authorized_official_telephone_number varchar(100),
healthcare_provider_taxonomy_code_1 varchar(100),
provider_license_number_1 varchar(100),
provider_license_number_state_code_1 varchar(100),
healthcare_provider_primary_taxonomy_switch_1 varchar(100),
healthcare_provider_taxonomy_code_2 varchar(100),
provider_license_number_2 varchar(100),
provider_license_number_state_code_2 varchar(100),
healthcare_provider_primary_taxonomy_switch_2 varchar(100)
);